################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Commander Decks - Backup.csv
Commander Decks.csv
Commander History - Backup.csv
Commander History.csv
CommanderDecksWRA.csv
CommanderHistory.csv
CommanderHistoryNewTest.csv
