################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.gitignore
Data/CommanderDecks_Backup.csv
Data/CommanderDecksWRA.csv
Data/CommanderHistory_Backup.csv
Data/CommanderDecksTest.csv
Data/CommanderHistoryTest.csv
Data/CommanderHistory_Backup_Backup.csv
Data/CommanderHistory_Borked.csv
MDToken.yaml
.Rhistory
.Rhistory
.RData
.Rhistory
.Rhistory

