################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.gitignore
Data/CommanderDecks_Backup.csv
Data/CommanderDecks.csv
Data/CommanderDecksWRA.csv
Data/CommanderHistory_Backup.csv
Data/CommanderHistory.csv
Data/CommanderDecksTest.csv
Data/CommanderHistoryTest.csv
MDToken.yaml
